*{
    padding: 0;
    margin: 0; 
}
h1,h2,h3,p{
    padding: 0;
    margin: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    border: 0;
    cursor: pointer;
}
header{
    background: #eeeff1;
    padding-top: 57px;
    padding-bottom: 140px;
}
.container{
   max-width: 1136px;
   margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
}
.menu>li{
    margin-right: 42px;
}
.menu>li>a{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    letter-spacing: 0.1em;
    color: #000;
}
.menu>li>a:hover{
    color: #34547a; 
    font-weight: 500;
}
.design{
    background: #eeeff1;
    padding-bottom: 146px;
}
.design-box{
    display: flex;
    justify-content: space-between;
}
.design-info>h1{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 164%;
    color: #000;
}
.design-info>p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    color: #727272;
    max-width: 532px;
    margin-bottom: 60px;
}
.design-info>button{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
    background: #34547a;
    padding: 25px 41px;
}
.about{
    padding-top: 112px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about>h2{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #000;
    margin-bottom: 50px;
}
.about>p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    text-align: center;
    color: #727272;
    max-width: 540px;
}
.achiv{
    background: #34547a;
    padding: 100px 0 ;
}